.cabecalho {

    background-color: var(--cor-elementos-03);
    display: flex;
    justify-content: space-between;
    padding: 7px 30px 7px 30px;
    align-items: center;
    position: fixed;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;


}

.cabecalho__parte2 {

    display: flex;
    align-items: center;
    gap: 20px;

}

.cabecalho__parte2__caixa__toda {

    display: flex;
    align-items: center;
    

}

.cabecalho__parte2__caixa__icone__do__busca {

    background-color: var(--cor-elementos-02);
    border: 1px solid var(--cor-elementos-04);
    border-left: none;
    padding: 8.5px 15px 8.5px 15px;
    
}

.cabecalho__parte3 {

    display: flex;
    align-items: center;
    gap: 40px;

}

.cabecalho__parte3__icones {

    display: flex;
    align-items: center;
    gap: 30px;

}

.cabecalho__caixa__de__pesquisa {

    border: 1px solid var(--cor-elementos-04);
    padding: 10px 5px 10px 10px;
    width: 25vw;
    
}

.cabecalho__caixa__de__pesquisa::placeholder {

    background: url("../../Imagens/Imagens-codigo/Header/keyboard.png") no-repeat;
    background-position: right;

}

.cabecalho__parte3__icone__do__X , .checkbox__botao , .checkbox__botao__2 , .cabecalho__parte3__caixa__de__pesquisa {

    display: none;

}

@media (max-width: 834px ) {

    .cabecalho__parte3 {

        gap: 20px;
    
    }


}   
 

@media (min-width: 650px ) {

    .continer__display__none__tablet {

        display: none;

    }


}  

@media (max-width: 650px ) {

    .cabecalho {

        padding: 20px 30px 20px 30px;
    
    }

    .continer__display__none__celular {

        display: none;

    }

    .cabecalho__parte1__icone {

        width: 120px;

    }

    .cabecalho__parte3__icones__icone {

        width: 25px;
        height: 25px;

    }

    .cabecalho__parte3__caixa__de__pesquisa {

        display: none;
    
    }

    .checkbox__botao:checked ~ .cabecalho__parte3__caixa__de__pesquisa {

        display: block;
        position: fixed;
        padding: 20px 0 20px 0;
        width: 98vw;
        right: 1%; 
        z-index: 1;
     
    }

    .checkbox__botao:checked ~ .cabecalho__parte3__icone__do__X {
     
        display: block;
        position: fixed;
        left: 90%; 
        z-index: 2;
    
        

    }

    .cabecalho__parte3__caixa__de__pesquisa {

        border: 1px solid var(--cor-elementos-04);
        padding: 10px 5px 10px 10px;
        width: 25vw;
        
    }

    .continer__X {

        width: 20px;
        height: 20px;

    }

    .checkbox__botao__2:checked ~ .cabecalho__parte3__caixa__de__pesquisa {
        
        display: none;
        
    }

    .checkbox__botao__2:checked ~ .cabecalho__parte3__icone__do__X {

        display: none;
    
    }




    

    

}   

